* {
    font-family: Garamond, serif;
    box-sizing: border-box;
}

#title {
    background-color: black;
    color: white;
    font-size: 30px;
    font-weight: bold;
    width: 50%;
    text-align: center;
    margin-left: 8em;
    padding: 10px;

}

.recipes {
    color: black;
    font-size: 17px;
    text-decoration: none;
    
}

.recipes:hover {
    text-decoration: underline;
    color: blue;
}

.home {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.home:hover {
    text-decoration: underline;
    color: blue;
}

.sub {
    color: rgb(3, 3, 37);
    font-size: 20px;
}

.titles {
    color: rgb(10, 9, 9);
    font-size: 27px;
    text-decoration: underline;
}

p {
    font-size: 17px;
    font-weight: 600;
    
}

li {
    margin-bottom: 18px;
}

.des {
    border: 2px dotted;
    padding: 10px;
}